################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj/Debug
/.vs/SQL2017_BidsHelper/v14/.suo
/.vs/SQL2017_VS2017_BidsHelper/v15/sqlite3/storage.ide
/.vs/SQL2017_VS2017_BidsHelper/v15/.suo
/UpgradeLog.htm
/SQL2017_VS2017_BidsHelper.user
/.vs/SQL2017_VS2017_BidsHelper/v15
/bin/Release
/obj/Release
